html{
  font-size: 62.5%;
}
@media(max-width:999px){
  html{
    font-size: 55%;
  }
}
@media (max-width:768px){
  html{
    font-size: 45%;
  }
}
@media(max-width:364px){
  html{
    font-size: 20%;
  }
}
body{
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url('https://source.unsplash.com/1600x900/?coding');
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-h{
  justify-content: center;
  position: relative;
  display: flex;
  color: white;
  font-size: 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.main-h::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.4rem;
  bottom: 0;
  left: 0;
  background-color: #ffa0a0;
  transform-origin: bottom right;
  transition: transform 2s cubic-bezier(0.87, 0.21, 0, 1.15);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.87, 0.21, 0, 1.15);
    transition-delay: 0s;
    transition-property: transform;
}
.main-h:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left; 
}
.contact-h{
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  padding-bottom: 0.2rem;
}
.about img{
  border-radius: 50%;
  padding-top: 0.2rem;
}
.about a{
  text-decoration: none;
  color: white;
}
.about{
  font-size: x-large;
  border: 0.5rem transparent;
  background: transparent;
  display: inline-block;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 5rem;
}
#more{
  display: none;
}
#readMore{
  width: 22rem;
  height: 5rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgba(17, 17, 17, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  font-size: large;
}
#readMore:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #f82f2f, #ff6b66, #ff9696, #ffc7c7, #ff0000);
    position: absolute;
    top: -0.2rem;
    left:-0.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}
#readMore:active {
  color: rgb(255, 255, 255)
}
#readMore:active:after {
  background: transparent;
}

#readMore:hover:before {
  opacity: 1;
}

#readMore:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #11111194;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.about:hover{
  background: #7c3b3b;
  border: 0.5rem solid #7c3b3b;
  transition: 0.5s;
  color: #ffeba7;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -999.9rem;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 6.3rem;
  right: 7.5rem;
  display: block;
  width: 3.0rem;
  height: 3.0rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 3.0rem;
  height: 2.0rem;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 0.2rem solid #ececee;
  border-bottom: 0.2rem solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 2.2rem;
  height: 0.2rem;
  z-index: 20;
  top: 1.0rem;
  right: 0.4rem;
  background-color: #ececee;
  margin-top: -0.1rem;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 1rem;
  transform: rotate(45deg);
  height: 0.2rem;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 3rem;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 3.3rem;
  right: 5.0rem;
  display: block;
  width: 8.0rem;
  height: 8.0rem;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  background-color: #7c7c7cb6;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  background: #7c7c7c0d;  
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #35374600;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}